
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    transition: .3s all;
}
 body {

  
    background: url(/Interaction_Design/img/rugby-3718779_1280.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  


}

html{
  height: 100%;
}
/*header*/
header {
  background: black;
  z-index: 100;
  margin-top:auto;
}

nav ul li a {
  color:white;
  display: block;
  font-size: 90%;
  font-weight: bold;
  font-family: Arial;
  letter-spacing: 1px;
  border-top: 1.5px solid  #000 transparent;
  border-bottom: 1.5px solid  #000 transparent;
}

.active {
  border-bottom: 1.5px solid #ff7700;
  opacity: 1;
}

nav ul li a:hover {
  opacity: 1;
}
.fa {
  padding: 20px;
  font-size: 15px;
  width: 50px;
  margin:  5px;
  display: flex;
  flex-direction: row;
  top: 0;
  
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}



/*footer*/
.site-footer
{
  background-color:#000000;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}

/*Product detail page */

.main-section{
  
}
.left-side-product-box img{
	width: 100%;
}

.left-side-product-box .sub-img img{
	margin-top:5px;
	width:83px;
	height:100px;
}
.right-side-pro-detail span{
	font-size:15px;
}
.right-side-pro-detail p{
	font-size:25px;
	color:#a1a1a1;
}
.right-side-pro-detail .price-pro{
	color:#E45641;
}
.right-side-pro-detail .tag-section{
	font-size:18px;
	color:#5D4C46;
}
.pro-box-section .pro-box img{
	width: 100%;
	height:200px;
}
@media (min-width:360px) and (max-width:640px) {
	.pro-box-section .pro-box img{
		height:auto;
	}
}

.hedding{
	font-size: 20px;
	color:#ab8181`;
}
.main-section{
	position: auto;
	left:50%;
	right:50%;
  transform: translate(-50%,5%);
  margin-bottom: 15%;
}
#logo{
  width: 25%;
}




.breadcrumb{
  background-color:#000;
  opacity: 60%;
  margin-top: 8px;
  margin-bottom: 8px;   
}

.breadcrumb >.active a {
  color: white;
}
.breadcrumb a{
  color:  white;
}

/*Product detail page */

h4{
  color: white;
  margin: 0;
  padding: 20px;
}
#p{
  color: white;
  margin: 0;
  padding: 20px;
}
.style{
  text-align:center;
  margin:auto;
}
#padding{
  background-color: white;
  padding: 16px;
}
/* Newsletter */

.newsletter {
  position : fixed;
  z-index : 9999;
  right : 0;
  left : 0;
  width : 80%;
  margin : auto;
  padding : 18px;
  transition : all .4s cubic-bezier(.4, 0, .2, 1);
  background: #ffffff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, rgb(255, 255, 255) , #4B1248); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #F0C27B , #4B1248); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .newsletter.bottom {
  bottom : -210px;
  animation-name : cpnewsletterbottom;
  animation-duration : 1s;
  animation-iteration-count : 1;
  border-radius : 10px 10px 0 0;
  }
  
  @keyframes cpnewsletterbottom {
  0% {
      transform : translateY(100%);
  }
  100% {
      transform : translateY(0%);
  }
  }
  
  .newsletter.bottom:hover {
  bottom : 0;
  }
  
  .newsletter.bottom .newsletter-icon {
  margin : -54px auto 70px;
  }
  
  .newsletter.bottom:hover .newsletter-icon {
  margin-bottom : 0;
  }
  
  .newsletter.top {
  top : -255px;
  animation-name : cpnewslettertop;
  animation-duration : 1s;
  animation-iteration-count : 1;
  border-radius : 0 0 10px 10px;
  }
  
  @keyframes cpnewslettertop {
  0% {
      transform : translateY(-100%);
  }
  100% {
      transform : translateY(0%);
  }
  }
  
  .newsletter.top:hover {
  top : 0;
  }
  
  .newsletter.top form {
  margin-bottom : 150px;
  transition : all .8s cubic-bezier(.4, 0, .2, 1);
  }
  
  .newsletter.top:hover form {
  margin-bottom : 40px;
  }
  
  .newsletter.top .newsletter-icon {
  position : absolute;
  bottom : 0;
  left : 50%;
  margin : 0 0 -40px -30px !important;
  }
  
  .newsletter-icon {
  width : 70px;
  height : 70px;
  text-align: center;
  line-height: 70px;
  cursor : pointer;
  transition : all .8s cubic-bezier(.4, 0, .2, 1);
  animation : cpnewslettericon 2s infinite;
  border-radius : 100%;
  box-shadow : 0 0 0 2px #8194ff;
  background: #F0C27B; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #F0C27B , #9c27b0); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #F0C27B , #9c27b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  font-size: 22px;
  }
  
  @keyframes cpnewslettericon {
  0% {
      box-shadow : 0 0 0 2px #9C27B0;
  }
  50% {
      box-shadow : 0 0 0 1px #fff;
  }
  90% {
      box-shadow : 0 0 0 4px #fff;
  }
  100% {
      box-shadow : 0 0 0 1px #fff;
  }
  }
  
  
  .newsletter-title {
  font-size : 26px;
  margin-top : 10px;
  text-align : center;
  color : #FFF;
  }
  
  .newsletter form {
  margin : 26px auto;
  text-align : center;
  }
  
  @media screen and (min-width: 584px) {
  .newsletter form {
      width : 460px;
  }
  }
  
  .newsletter input {
  display : inline-block;
  }
  
  .newsletter input:focus ,
  .newsletter textarea:focus {
  outline : none;
  box-shadow : none;
  }
  
  .newsletter input[type=email] {
  width : 70%;
  padding : 10px;
  border : none;
  border-radius : 20px 0 0 20px;
  background: rgba(255,255,255,0.2);
  }
  
  .newsletter input[type='submit'] {
  width : 21%;
  padding : 10px;
  cursor : pointer;
  color : #ffffff;
  border : none;
  border-radius :0 20px 20px 0;
  background : #4b1348;
  }
  
  .newsletter input[type='submit']:hover {
  opacity : .9;
  }
  
  @media screen and (max-width: 625px) {
  .newsletter.bottom .newsletter-icon {
      margin : -42px auto 70px;
  }
  .newsletter.bottom {
      bottom : -175px;
  }
  
  .newsletter.top {
      top : -208px;
  }
  
  .newsletter {
      width : 97%;
      padding : 0 10px;
  }
  .newsletter-title {
      font-size : 18px;
  }
  .newsletter input[type=email] {
      width : 62%;
  }
  .newsletter input[type='submit'] {
      width : 30%;
  }
  }
  #farge{
    background-color:#000;
  }
  #farge a{
    color: white;
    border-bottom: 5px solid whitesmoke;
    font: helvetica ;
    font-weight: 400;
    font-size: 18px;
    margin: 14px;
  }

  
  #side{
    display: flex;
    margin-left: 70%;
    margin-top: 24px;
  }